<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Student Registration Form</title>
    <link rel="stylesheet" th:href="@{/css/basic.css}"/>
</head>
<body>

    <form th:action="@{/student/processForm}" th:object="${student}" method="post">
        <table>
            <tr>
                <td th:class="${#fields.hasErrors('firstName')}? 'error err-font-style'">First Name (*):</td>
                <td><input type="text" th:field="*{firstName}" autocomplete="off" placeholder="First Name"/></td>
                <td th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"
                    th:class="${#fields.hasErrors('firstName')}? 'error err-font-style'"></td>
            </tr>
            <tr>
                <td th:class="${#fields.hasErrors('lastName')}? 'error err-font-style'">Last Name (*):</td>
                <td><input type="text" th:field="*{lastName}" autocomplete="off" placeholder="Last Name"/></td>
                <td th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"
                    th:class="${#fields.hasErrors('lastName')}? 'error err-font-style'"></td>
            </tr>
            <tr>
                <td th:class="${#fields.hasErrors('age')}? 'error err-font-style'">Age (*):</td>
                <td><input type="text" th:field="*{age}" autocomplete="off" placeholder="Age"/></td>
                <td th:if="${#fields.hasErrors('age')}" th:errors="*{age}"
                    th:class="${#fields.hasErrors('age')}? 'error err-font-style'"></td>
            </tr>
            <tr>
                <td th:class="${#fields.hasErrors('postalCode')}? 'error err-font-style'">Postal Code (*):</td>
                <td><input type="text" th:field="*{postalCode}" autocomplete="off" placeholder="Postal Code"/></td>
                <td th:if="${#fields.hasErrors('postalCode')}" th:errors="*{postalCode}"
                    th:class="${#fields.hasErrors('postalCode')}? 'error err-font-style'"></td>
            </tr>
            <tr>
                <td th:class="${#fields.hasErrors('courseCode')}? 'error err-font-style'">Course Code:</td>
                <td><input type="text" th:field="*{courseCode}" autocomplete="off" placeholder="Course Code"/></td>
                <td th:if="${#fields.hasErrors('courseCode')}" th:errors="*{courseCode}"
                    th:class="${#fields.hasErrors('courseCode')}? 'error err-font-style'"></td>
            </tr>
            <tr>
                <td>Country Name:</td>
                <td>
                    <select th:field="${student.countryName}">
                        <option th:value="''" th:text="'-- Select Country --'"></option>
                        <option th:each="country : ${formAttributes.country}"
                                th:value="${country.value}"
                                th:text="${country.key}"></option>
                    </select>
                </td>
                <td>

                </td>
            </tr>
        </table>

        <br><br>
        <input th:type="radio" th:field="${student.languageName}"
               th:each="language : ${formAttributes.language}"
               th:value="${language.value}"
               th:text="${language.key}"/>
        <br><br>
        <input type="checkbox" th:field="${student.osName}"
                th:each="os : ${formAttributes.operatingSystem}"
                th:value="${os}"
                th:text="${os}"
                th:checked="${true}"/>
        <br><br>
        <input type="submit" value="submit"/>
    </form>

</body>
</html>